.navbar {
	margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

img {
    padding: 10px 0px 26px;
}

#content {
    padding-right: 50px; 
    line-height: 26px;
	font-size: 16px;
}

#content p {
      margin-bottom: 24px;
  }

p.standfirst {
    font-size: 18px;
    font-weight: 700;
}

#site-colophon {
    font-size: 12px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.article-header-date, .article-header-info {
	color: #999;
}

.social-links {
	font-size: 14px;
}

.category-links {
	font-size: 14px;
}

.tag-1 {
	font-size: 14pt;
}
.tag-2 {
	font-size: 12pt;
}
.tag-3 {
	font-size: 10pt;
}
.tag-4 {
	font-size: 8pt;
}

.tag-cloud {
    line-height: 16px;
}

.article-tag-list {
    padding-top: 15px;
}

.home-top {
	margin-top: 20px;
}

#sidebar h4 {
    margin-top: 20px;
}

#site-footer {
    background: #eee;
    border-top: 1px dotted #999;
    margin-top: 40px;
    padding-top: 20px;
}

h2 {
    font-size: 18pt;
}   

/*
 * My preference for code blocks is no line wraps and horizontal scrolling.
 */
#content pre {
    border-left: 5px solid #999;
    overflow-x: auto;
    padding-left: 20px;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
}

dt {
  margin-top: 10px;
}

/* for table of contents */
.toc {
	background-color: #f8f9fa;
    display: table;
    width: 30%;
	clear: right;
	float: right;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	margin-left: 1em;
	margin-bottom: 1em;
}

/* TOC heading in bold */
.toc .toctitle {
    font-weight: bold;
}

/* No bullets for toc list, indentation of nested lists 1em */
.toc ul {
/*    list-style-type: none; */
    padding-left: 1rem;
}

/* Top level list has no indentation */
.toc > ul {
    /* no indentation */
    padding-left: 0;
    margin-top: 0;
}

